<div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
  <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
    <img
      [ngSrc]="'assets/images/course-demo.jpg'"
      [alt]="course.name"
      width="620"
      height="349"
      priority
    />
  </div>

  <div class="mt-6 sm:mt-8 lg:mt-0">
    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
      <a [routerLink]="course.uuid">
        {{ course.name }}
      </a>
    </h1>
    <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
      <div>
        <span
          class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
          >Acceso Gratuito</span
        >
        <span
          class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400"
        >
          <svg
            class="w-2.5 h-2.5 me-1.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"
            />
          </svg>
          {{ course.duration }}
        </span>
      </div>

      <!-- <p
        class="text-2xl font-extrabold text-gray-900 sm:text-3xl dark:text-white"
      >
        $1,249.99
      </p> -->

      <div class="flex items-center gap-2 mt-2 sm:mt-0">
        <div class="flex items-center gap-1">
          <ng-container
            *ngFor="let rating of course?.averageRating | toArrayPipe"
          >
            <svg
              class="w-4 h-4 text-yellow-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
              />
            </svg>
          </ng-container>
        </div>
        <p
          class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400"
        >
          ({{ course.averageRating }})
        </p>
        <a
          href="#"
          class="text-sm font-medium leading-none text-gray-900 underline hover:no-underline dark:text-white"
        >
          {{ course.courseReactions.length }} Reseña(s)
        </a>
      </div>
    </div>

    <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
      <a
        href="#"
        title=""
        class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        role="button"
      >
        <svg
          class="w-5 h-5 -ms-2 me-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
          />
        </svg>
        Add to favorites
      </a>

      <a
        href="#"
        title=""
        class="text-white mt-4 sm:mt-0 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 flex items-center justify-center"
        role="button"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5"
          />
        </svg>

        Certificarse
      </a>
    </div>

    <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />

    <p class="mb-6 text-gray-500 dark:text-gray-400">
      {{ course.description }}
    </p>
  </div>
</div>
