<section class="bg-white dark:bg-gray-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-4">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-primary-900 dark:text-white text-center md:text-left lg:text-left"
      >
        {{ data.title }}
      </h2>
      <p
        class="max-w-full mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
      >
        {{ data.description }}
      </p>
    </div>
    <div class="container mx-auto w-full overflow-hidden relative">
      <div
        class="carousel-items flex items-center justify-center w-fit animate-[carouselAnim_30s_infinite_alternate_linear]"
      >
        <div
          class="carousel-focus flex items-center flex-col relative bg-white mx-5 my-10 px-4 py-3 rounded-lg shadow-lg"
          *ngFor="let course of [1, 1, 1, 1, 1, 1, 1, 1]"
        ></div>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <a
        [routerLink]="data.route.url"
        class="i px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
      >
        {{ data.route.title }}
      </a>
    </div>
  </div>
</section>
